*.bak
*.class
*.ctxt
*.ear
*.iml
*.ipr
*.iws
*.jar
*.launch
*.log
*.nar
*.pydevproject
*.rar
*.swp
*.tar.gz
*.tmp
*.war
*.zip
*~.nib
.apt_generated/
.autotools
.buildpath
.cache-main
.classpath
.cproject
.externalToolBuilders/
.factorypath
.gradle/
.idea/
.loadpath
.metadata
.mtj.tmp/
.project
.recommenders/
.scala_dependencies
.settings/
.springBeans
.target
.tern-project
.texlipse
.worksheet
bin/
build/
hs_err_pid*
local.properties
tmp/

# gradle whitelist
!/gradle/wrapper/gradle-properties.jar
